{% extends 'pages/index.html' %}

{% load static %}
{% block content %}
<style>
  body {
      background-image: url("{% static 'images/bg.jpg' %}");
      background-size: cover;
      background-position: center;
      color: white; /* Set text color to white */
      font-family: 'YourChosenFont', sans-serif;
  }
</style>
<div class="module text-center">
    <h2>Delete Order Item</h2>
    <p>Are you sure you want to delete this order item?</p>
    <form method="post" id="deleteOrderItemForm">
        {% csrf_token %}
        <button type="submit">Delete</button>
        
    </form><a href="{% url 'order_item_list' %}">Back to Item List</a>
</div>
{% endblock %}
