{% extends 'pages/index.html' %}

{% load static %}
{% block content %}
<style>
  body {
      background-image: url("{% static 'images/bg.jpg' %}");
      background-size: cover;
      background-position: center;
      color: white; /* Set text color to white */
      font-family: 'YourChosenFont', sans-serif;
  }
</style>
 
  <div class="module text-center"> 
    <h2>Edit Status</h2>
  <form method="post" id="editOrderForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>
  <a href="{% url 'orders_list' %}">Back to Orders</a>
</div>
{% endblock %}
