{% extends 'pages/index.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-r4H2AgkFqWJHiid0Z3sAmKZdchG/5FtuRR2PckcgfN3N03h3i87XmMA4e3dGjZ6H" crossorigin="anonymous">
<style>
    .totals {
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease-in-out;
    }

    #content {
        margin-top: 50px;
        padding: 25px;
        margin-left: 5px; 
        border-radius: 5px;
    }

    .totals:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    }

    .totals h4 {
        margin-bottom: 10px;
        color: #495057;
    }

    .totals i {
        margin-right: 10px;
        color: #6c757d;
    }

    /* Adjusted card styles */
    .totals .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .totals p {
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }
</style>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Admin Panel</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="{% url 'customer_page' %}" class="nav-link align-middle px-0">
              <i class="fas fa-user"></i> <span class="ms-1 d-none d-sm-inline">Customer</span>
            </a>
          </li>
          <li>
            <a href="{% url 'flower' %}"  class="nav-link px-0 align-middle">
              <i class="fas fa-leaf"></i> <span class="ms-1 d-none d-sm-inline">Flower</span>
            </a>
          </li>
          <li>
            <a href="{% url 'review_list' %}" class="nav-link px-0 align-middle">
              <i class="fas fa-comments"></i> <span class="ms-1 d-none d-sm-inline">Review</span>
            </a>
          </li>
          <li>
            <a href="{% url 'order_item_list' %}" class="nav-link px-0 align-middle">
              <i class="fas fa-shopping-basket"></i> <span class="ms-1 d-none d-sm-inline">Order Item</span>
            </a>
          </li>
          <li>
            <a href="{% url 'orders_list' %}"  class="nav-link px-0 align-middle">
              <i class="fas fa-file-alt"></i> <span class="ms-1 d-none d-sm-inline">Order</span>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
    <div class="col py-3">
      
        <div id="content" class="text-center">
          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="card totals" style="background-color: #fefbd8;">
                <div class="card-body">
                  <h4><i class="fas fa-seedling"></i> Total Flowers</h4>
                  <p class="mb-0">{{ total_flowers }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card totals" style="background-color: #fefbd8;">
                <div class="card-body">
                  <h4><i class="fas fa-users"></i> Total Customers</h4>
                  <p class="mb-0">{{ total_customers }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card totals" style="background-color:#fefbd8;">
                <div class="card-body">
                  <h4><i class="fas fa-shopping-cart"></i> Total Orders</h4>
                  <p class="mb-0">{{ total_orders }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card totals" style="background-color: #fefbd8;">
                <div class="card-body">
                  <h4><i class="fas fa-dollar-sign"></i> Total Sales</h4>
                  <p class="mb-0">₱{{ total_sales.total_sales }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
