{% extends 'pages/index.html' %}
{% load static %}

<title>Flor Ever</title>

{% block content %}
    <style>
        body {
            background-image: url("{% static 'images/bg.jpg' %}");
            background-size: cover;
            background-position: center;
            color: white; /* Set text color to white */
            font-family: 'YourChosenFont', sans-serif;
        }

        .text-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .text-container h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        .text-container p {
            font-size: 1.5em;
        }

        .shop-now-btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.5em;
            text-decoration: none;
            background-color: #28a745; /* Bootstrap success color */
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .signup-button:hover{
            color: #021f3b;
            font-size: 15px;
            border-radius: 6px;
            background-color: #ffcab1;
            box-shadow: 0 0 10px #ff8248, 0 0 4px #ff8248,0 0 80px #ff8248;
            transition-delay: 0.1s;
            text-decoration: none;
            border-radius: 9px;
          }
        .signup-button{
            position: relative;
            border-radius: 20px;
            display: inline-block;
            padding: 10px 25px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 13px;
            background-color: #fd5e19;
            overflow: hidden;
            transition: 0.2s;
          }
          .login-dialog {
            display: none;
        }
    </style>
    <body>
        <div class="text-container">
            <h1>Welcome to chelle Flower Shop</h1>
            <p>Experience the beauty of nature through our exquisite floral arrangements.</p>
            <form id="shopNowForm" action="{% url 'product' %}" method="POST">
                {% csrf_token %}
               
                <div class="signup-button">
                    <button class="btn" type="submit" id="shopNowButton">Shop Now</button>
                </div>
            </form>
        </div>
        
    </body>
   {% endblock %}
